absl-py
ftfy
gdown==3.13.1
gym==0.17.3
hydra-core==1.0.5
imageio==2.9.0
imageio-ffmpeg==0.4.5
kornia==0.4.1
matplotlib
numpy==1.23.5
meshcat==0.0.18
opencv-python
regex
scikit-image
scipy
tdqm
dotmap
tokenizers==0.13.3
transformers==4.28.1
transforms3d==0.3.1
wandb==0.15.1
packaging==21.3
sentencepiece
ordered_set
protobuf==3.20.*
torchmetrics==0.11.4
tensorboard==2.12.1
tensorboardx==2.6
pytorch-lightning==2.0.2
websocket-client
websockets
minigrid==2.2.1
accelerate==0.19.0
bistandbytes==0.41.0